<html>
	<head></head>
	<body>
		<p>亲爱的客户您好：</p>
		&nbsp;&nbsp;&nbsp;&nbsp;<span>以下是邮件的具体内容，请查看！</span>
		<br/><br/><br/><br/><br/>
		<span>谢谢您的体验，欢迎再次光临！</span><br/>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<span>品友互动</span><br/>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="#">欢迎访问品友</a>
	</body>
</html>